
/* 
    Created on : Jun 20, 2018, 11:52:34 AM
    Author     : varpu
*/
.root{
    -fx-background-image: url("backGround.jpg");
}
.button{
    -fx-text-fill: white;
    -fx-font-family: "Courier New";
    -fx-font-weight: bold;
    -fx-background-color: darkorange;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5),5,0.0,0,1);
    
}

.button:hover{
    -fx-background-color: goldenrod;
    
}

.label{
    -fx-font-size: 14;
    -fx-font-family: "Courier New";
    -fx-font-weight: bold;
    -fx-text-fill: orangered;
    -fx-effect: dropshadow(gaussian, rgba(225,255,255,0.5),0,0,0,1);
}

.combo-box{
    -fx-text-fill: white;
    -fx-font-family: "Courier New";
    -fx-font-weight: bold;
    -fx-background-color: darkorange;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5),5,0.0,0,1);
}

.text-field{
    -fx-background-color: lavender;
    -fx-font-size: 14;
    -fx-font-family: "Courier New";
}

.text-area .content{
    -fx-background-color: lavender;
    -fx-text-fill: darkgrey;
    -fx-font-size: 16;
    -fx-font-family: "Courier New";
    
}

.radio-button{
    -fx-font-weight: bold;
    -fx-text-fill:orange;
    -fx-font-family: "Courier New";
}

.radio-button .radio{
    -fx-background-color: lightgrey;
   
    
}

.check-box {
    -fx-font-weight: bold;
    -fx-text-fill:orange;
    -fx-font-family: "Courier New";
}
.check-box .box{
    -fx-background-color: lightgrey;
}



